

<div class="row">
   
        <div class="col-12 card py-3 card-body">
                <div class="row">
                    <div class="col-md-2 text-right"><label for="email">Inner Diameter [mm]:</label></div>
                    <div class="col-md-2">
                            <div class="form-group">
                                    <input type="text" class="form-control bg-yellow" id="text" [ngModel]="innerDiameter | number : '1.2-2'">
                            </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 text-right"><label for="email">Section Type:</label></div>
                    <div class="col-md-2">
                            <div class="form-group">
                                <select class="form-select bg-yellow" >
                                        <option *ngFor="let section of SectionType" [value]="section.id" >{{section.name}}</option>
                                </select>
                            </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 text-right"><label for="email">Section Height[mm]:</label></div>
                    <div class="col-md-2">
                            <div class="form-group">
                                    <input type="text" class="form-control" id="text" [ngModel]="section[0].SectHeight | number : '1.2-2'">
                            </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 text-right"><label for="email">Section Description:</label></div>
                    <div class="col-md-2">
                            <div class="form-group">
                                    <input type="text" class="form-control" id="text">
                            </div>
                    </div>
                    <div class="col-md-2 text-right"><label for="email">Column Section:</label></div>
                    <div class="col-md-2">
                            <div class="form-group">
                                    <select class="form-select bg-yellow" style="width: 110px;">
                                    </select>
                            </div>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-md-2 text-right"><label for="email" >Spacing [mm]:</label></div>
                    <div class="col-md-2">
                            <div class="form-group">
                                    <input type="text" class="form-control bg-yellow" id="text" [ngModel]="section[0].TraySpacing| number : '1.2-2'">
                            </div>
                    </div>
                    <div class="col-md-2 text-right"><label for="email">No of Trays:</label></div>
                    <div class="col-md-2">
                            <div class="form-group">
                                    <input type="text" class="form-control bg-yellow" id="text"  [ngModel]="section[0].TrayQuantity">
                            </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 text-right"><label for="email">Tray Type:</label></div>
                    <div class="col-md-2">
                            <div class="form-group">
                                <select name="TrayType" class="form-select bg-yellow" [(ngModel)]="mySelectTrayType">
                                        <option *ngFor="let tray of trayType" [value]="tray.id" >{{tray.name}}</option>
                                </select>
                            </div>
                    </div>
                    <div class="col-md-2 text-right"><label for="email">Deck Type:</label></div>
                    <div class="col-md-2">
                            <div class="form-group">
                                    <select class="form-select bg-yellow" style="width: 110px;" [(ngModel)]="mySelectDeckType">
                                        <option *ngFor="let deck of deckType" [ngValue]="deck.id">{{deck.name}}</option>
                                    </select>
                            </div>
                    </div>
                    <div class="col-md-2 text-right"><label for="email">Panel Layout:</label></div>
                    <div class="col-md-2">
                            <div class="form-group">
                                <select class="form-select bg-yellow">
                                        <option *ngFor="let panel of PanelLayout" [ngValue]="panel.id">{{panel.name}}</option>
                                </select>
                            </div>
                    </div>
                </div>
                <div class="row">
                   
                    <div class="col-md-2 text-right"><label for="email">Valve Type:</label></div>
                    <div class="col-md-2">
                            <div class="form-group">
                                <select class="form-select bg-yellow">
                                        <option *ngFor="let value of valueType" [ngValue]="value.id">{{value.name}}</option>
                                        
                                </select>
                            </div>
                    </div>
                   
                </div>
                <div class="row">
                    <div class="col-md-2 text-right"><label for="email">No of Passes:</label></div>
                    <div class="col-md-2">
                            <div class="form-group">
                                    <select class="form-select bg-yellow" style="width: 110px;">
                                        <option>{{section[0].TrayConstructionTypeCode}}</option>
                                    </select>
                            </div>
                    </div>
                    <div class="col-md-2 text-right"><label for="email">No of Valves per tray:</label></div>
                    <div class="col-md-2">
                            <div class="form-group">
                                <input type="text" class="form-control bg-yellow" id="text" [ngModel]="section[0].TrayValveQuantity">
                            </div>
                    </div>
                   
                </div>
                <div class="row">
                    <div class="col-md-2 text-right"><label for="email">Downcomer Type:</label></div>
                    <div class="col-md-2">
                            <div class="form-group">
                                    <select class="form-select bg-yellow" style="width: 110px;">
                                        <option *ngFor="let down of DownComer" [ngValue]="down.id">{{down.name}}</option>
                                    </select>
                            </div>
                    </div>
                    <div class="col-md-2 text-right"><label for="email">No of identical:</label></div>
                    <div class="col-md-2">
                            <div class="form-group">
                                    <input type="text" class="form-control bg-yellow" id="text" [ngModel]="section[0].TrayNo_NFA">
                            </div>
                    </div>
                   
                </div>
                <div class="row">
                    <div class="col-md-2 text-right"><label for="email">Valve lift [mm]:</label></div>
                    <div class="col-md-2">
                            <div class="form-group">
                                <select class="form-select bg-yellow" >
                                        <option>{{section[0].TrayValveLift | number : '1.1-2'}}</option>
                                </select>
                            </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 text-right"><label for="email">Article:</label></div>
                    <div class="col-md-10">
                        <div class="row">
                                <div class="col-md-6">
                                <div class="form-group">
                                        <input type="text" class="form-control" id="text" style="width:450px" [ngModel]="section[0].TrayArticleNo" readonly>
                                </div>
                                </div>
                                <div class="col-md-4 text-left">
                                <div class="container">
                                        <div class="dot"></div>
                                </div>
                                </div>

                        </div>
                    </div>
                   
                </div>
               

      </div>


  
  