<header>
    <ul class="header-list pull-left">
        <li >
            <button type="button" aria-label="Toggle left Navigation" class="btn btn-link" (click)="toggleSideNav($event)" aria-controls="side-bar" [attr.aria-expanded]="leftSideNavBarExpanded">
              <i aria-hidden="true" class="fa fa-bars"></i>
            </button>
        </li> 
        <li>
            <a  href="#" class="logo">
                <img width="45" height="30" alt="" class="image-round" 
                src="../../../assets/img/sulzer-logo.svg" />
              
          </a>
            </li>  
    
    
    </ul>
    
    
    </header>