<!-- <header>
    <ul class="header-list pull-left">
        <li >
            <button type="button" aria-label="Toggle left Navigation" class="btn btn-link" (click)="toggleSideNav($event)" aria-controls="side-bar" [attr.aria-expanded]="leftSideNavBarExpanded">
              <i aria-hidden="true" class="fa fa-bars"></i>
            </button>
        </li> 
        <li>
            <a  href="#" class="logo">
                <img width="45" height="30" alt="" class="image-round" 
                src="../../../assets/img/sulzer-logo.svg" />
              
            </a>
          </li>
    
    </ul>
    
    
    </header> -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand" href="#"><img width="85" height="25" alt="" class="image-round" 
            src="../../../assets/img/sulzer-logo.svg" /></a>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#">File <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Edit</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Tools</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Administration</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Help</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <a class="navbar-brand" href="#"><img src="../../../assets/img/headre.png" alt="Suzler-Price" class="smaller"></a><span style="margin-left: 5px; color:rgba(0, 0, 0, 0.5); font-size: large;">Markus.Fischer@sulzer.com</span>
          </form>
        </div>
      </nav>
      <div class="row  bg-light">
        <div class="col-md-1">
          
        </div>
        <div class="col-md-6">
          <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Save">
          <i class="fa fa-save mr-2 fa-lg" aria-hidden="true" style="float: inline-start;margin-left: 5px;"></i></span>
          <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Open">
          <i class="fa fa-file mr-2 fa-lg" aria-hidden="true" style="float: inline-start;"></i></span>
          <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Copy Opportunity">
          <i class="fa fa-copy mr-2 fa-lg" aria-hidden="true" style="float: inline-start;"></i></span>
          <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Search Opportunity">
          <i class="fa fa-clipboard mr-2 fa-lg" aria-hidden="true" style="float: inline-start;"></i></span>
          <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Paste">
          <i class="fa fa-folder mr-2 fa-lg" aria-hidden="true" style="float: inline-start;"></i></span>
          <label style="float: inline-start;margin-right: 2px;">Units: </label>
<select style="float: inline-start;border-radius: 0;height: 85%;padding: 0%;">
<option>Metric</option>
<option>Imperial</option>
</select>
<i class="fa fa-calculator mr-2 fa-lg" aria-hidden="true" style="float: inline-start;margin-left: 5px;"></i>

        </div>
        <div class="col-md-3">
         
        </div>
      </div>